<br>
<br>
<h1 style="text-align: center">Desafio MV</h1>
<div class="container">
<div class="card">
    <div class="card-header">
      Login
    </div>

    <div class="card-body">
<form>
    <div class="form-group">
      <label for="exampleInputEmail1">Email</label>
      <input type="email" name="email" [(ngModel)]='usuario.email' class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Senha</label>
      <input type="password" name="password" [(ngModel)]='usuario.password' class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>

    <button type="submit" (click)='login()' class="btn btn-primary">Entrar</button>
    <button  (click)='cadastro()'  class="btn btn-primary ">Cadastro</button>

  </form>

</div>

</div>


